.home-container {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  background-color: #f7f9fc;
  color: #2e2e2e;
}

.header {
  background-color: #2563eb;
  color: white;
  padding: 40px 0;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
}

.body-container h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  gap: 20px;
}

.button-group button {
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 500;
  background-color: #ffffff;
  border: 2px solid #2563eb;
  color: #2563eb;
  border-radius: 12px;
}

/* when cursor hover over the button  */
.button-group button:hover {
  background-color: #2563eb;
  color: white;
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #e2e8f0;
  font-size: 14px;
  font-weight: 500;
}
